<%- include('partials/header') %>
<% if (projects && projects.length > 0) { %>
    <ul>
        <% projects.forEach(project => { %>
            <li>
                <a href="/project/<%= project.project_id %>">
                    <%= project.title %>
                </a>
            </li>
        <% }) %>
    </ul>
<% } else { %>
    <p>No projects found in this category.</p>
<% } %>
<%- include('partials/footer') %>