<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>Course CSE 340 Backend Development</h2>
        <h3>We want to connect your business website around the globe.</h3>

        <img class="main-logo" src="images/cse340backend.webp" alt="CSE 340 Backend Home">

    </main>

    <%- include('partials/footer') %>