<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>Course CSE 340 Backend Development</h2>
        <p>We want to connect your website world wide.</p>

        <img class="main-logo" src="images/cse340backend.png" alt="CSE 340 Backend Logo">

    </main>

    <%- include('partials/footer') %>