<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizations</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/organizations">Organizations</a></li>
            <li><a href="/projects">Service Projects</a></li>
            <li><a href="/categories">Categories</a></li>
        </ul>
    </nav>
    <main>
        <h1>Organizations</h1>
        <p>Coming Soon!</p>

        <h3>We connect you and business to international wealthy partners to attract the right influence.</h3>

        <img class="main-logo" src="images/image_org.webp" alt="CSE 340 Backend Organizations">
    </main>
</body>

</html>