<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <h3>We connect you and your business to international wealthy partners attracting the right influence.</h3>

        <img class="main-logo" src="images/image_org.webp" alt="CSE 340 Backend Organizations">

    </main>

    <%- include('partials/footer') %>