<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <h3>We handle your business projects regardless of size.</h3>

        <img class="main-logo" src="images/image_sp.webp" alt="CSE 340 Backend Service Projects">

    </main>

    <%- include('partials/footer') %>