<<<<<<< HEAD
<footer>
    <p>&copy; <%= new Date().getFullYear() %> CSE 340 Backend Development.</p>
</footer>
</body>
=======
<footer>
    <p>
        &copy; <%= new Date().getFullYear() %> CSE 340 Service Network.

        <% if (NODE_ENV === 'development') { %>
            (Development mode)
        <% } %>
    </p>
</footer>
</body>
</html>
>>>>>>> 233b7909a3142acbb3765031c0538eca6bdbf024
